.button {
  font-size: var(--copy-font-size);
  color: var(--button-color);
  background-color: var(--button-background);
  font-family: var(--button-font-family);
  font-weight: var(--button-font-weight);
  padding: var(--spacing-sm) var(--spacing-md);
  line-height: 1;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
}

@media (min-width: $breakpoint-md) {
  .button {
    font-size: var(--button-font-size);
  }
}