.button {
  font-size: 1.125rem; /* 18px */
  color: var(--white);
  font-family: 'JLR Emeric';
  font-weight: 600;
  padding: var(--spacing-sm) var(--spacing-md);
  line-height: 1;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  line-height: 1.3;
  text-align: center;
  appearance: none;
  -webkit-appearance: none;

  &--primary {
    background-color: var(--red);
  }

  &--secondary {
    background-color: var(--black);
  }
}

@media (min-width: $breakpoint-md) {
  .button {
    font-size: 1.375rem; /* 22px */
    display: inline-block;
  }
}