.contact {
  padding: var(--spacing-md) 0;
}

.form {
  .form__column--right {
    input[type="checkbox"] {

      & + label {
        padding: 42px 0 29px;
      }
    }
  }
}

@media (min-width: $breakpoint-md) {
  .contact {
    padding: var(--spacing-lg) 0;
  }
}