.contact {
  padding: var(--spacing-md) 0;

  .form {
    margin-top: var(--spacing-md);
  }

  .form__column--right {
    .form__checkbox {
      margin-top: var(--spacing-xs);
    }
  }

  .select {
    background: var(--white);
  }
}

@media (min-width: $breakpoint-md) {
  .contact {
    padding: var(--spacing-lg) 0;

    .form__column--right {
      .form__checkbox {
        margin-top: 41px;
      }
    }
  }
}