.contact {
  padding: var(--spacing-md) 0;

  .form {
    margin-top: var(--spacing-md);
  }

  .select {
    background: var(--white);
  }

  .form__column--right {
    .form__checkbox {
      margin-top: 40px;
    }
  }
}

@media (min-width: $breakpoint-md) {
  .contact {
    padding: var(--spacing-lg) 0;
  }
}