.footer {
  &__links {
    background-color: var(--mid-gray);
    padding: var(--spacing-sm) 0;

    .container {
      justify-content: space-between;
    }

    .footer__nav {
      width: 100%;

      &--desktop {
        display: none;
      }

      &--mobile {
        margin-bottom: var(--spacing-xs);
      }

      .link {
        text-decoration: none;
        & + .link {
          margin-left: var(--spacing-md);
        }

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .footer__copyright {
      width: 100%;
      margin-top: var(--spacing-xs);
    }
  }

  &__meta {
    padding: var(--spacing-md) 0 var(--spacing-lg);

    .copy {
      color: var(--dark-gray);

      & + .copy {
        margin-top: var(--spacing-sm);
      }
    }
  }
}

@media (min-width: $breakpoint-md) {
  .footer {
    &__links {
      .footer__nav {
        width: auto;

        &--mobile {
          display: none;
        }

        &--desktop {
          display: block;
        }
      }

      .footer__copyright {
        width: auto;
        margin: 0;
      }
    }

    &__meta {
      padding: var(--spacing-md) 0;
    }
  }
}