.form {
  background-color: var(--mid-gray);
  width: 100%;
  padding: calc(var(--spacing-sm) * 1.75) calc(var(--spacing-sm) * 1.5);
  display: flex;
  flex-wrap: wrap;

  * {
    font-size: var(--copy-font-size);
  }

  label {
    letter-spacing: .02rem;
    display: block;
    padding-bottom: var(--spacing-xs);
  }

  input:not([type="submit"]),
  textarea {
    border: none;
    padding: var(--spacing-xs);
    width: 100%;
  }

  .select-wrapper,
  input,
  textarea {
    margin-bottom: var(--spacing-sm);
  }

  input[type="submit"] {
    margin: var(--spacing-sm) 0 0;
    border: none;
  }

  .select {
    font-family: var(--copy-font-family);
    text-transform: capitalize;
  }
}

.form__column--top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.form__column--bottom {
  width: 100%;
}

.form__group {
  width: 100%;
  display: inline-block;

  &--25 {
    width: 100%;
  }

  &--75 {
    width: 100%;
  }
}

@media (min-width: $breakpoint-md) {

  .form__column--top {
    flex-wrap: nowrap;
  }

  .form__column--left {
    width: 49%;
  }

  .form__column--right {
    width: 49%;
  }

  .form__group {
    width: 100%;
    display: inline-block;

    &--25 {
      width: 25%;
    }

    &--75 {
      width: 75%;
      padding-left: var(--spacing-xs);
    }
  }
}

// Custom checkbox

.form__checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: var(--spacing-sm);
  margin-top: 40px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  /* Hide the browser's default checkbox */
  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;

    /* When the checkbox is checked, add red background */
    &:checked {
      ~ .form__checkmark {
        background-color: var(--red);

        &:after {
          display: block;
        }
      }
    }
  }

  /* Create a custom checkbox */
  .form__checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: var(--white);

    &:after {
      content: "";
      position: absolute;
      display: none;
      left: 9px;
      top: 5px;
      width: 5px;
      height: 10px;
      border: solid white;
      border-width: 0 3px 3px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }

  /* On mouse-over, add a grey background color */
  &:hover {
    input:not(:checked) ~ .form__checkmark {
      background-color: var(--light-gray);
    }
  }
}