* {
  box-sizing: border-box;
}

html {
  font-family: var(--copy-font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--dark-gray);
}

body {
  background-color: var(--white);
  color: var(--black);
  width: 100%;
  max-width: var(--container-outer-width);
  margin: 0 auto;
  line-height: 1.5;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.container {
  width: 100%;
  max-width: var(--container-inner-width);
  margin: 0 auto;
  padding: 0 var(--spacing-sm);
  display: flex;
  flex-wrap: wrap;

  & > .container {
    padding: 0;
  }

  .column {
    & + .column {
      padding: var(--spacing-md) 0 0;
    }
  }
}

.headline {
  font-family: 'JLR Emeric';
  font-weight: 200;
  text-transform: uppercase;
  line-height: 1.2;
  width: 100%;

  &--large {
    font-size: var(--headline-large-font-size);
  }

  &--medium {
    font-size: var(--headline-medium-font-size);
  }
}

.copy {
  font-size: var(--copy-font-size);

  &--small {
    font-size: var(--copy-small-font-size);
  }

  &--bold {
    font-weight: 600;
  }
}

.link {
  color: inherit;
}

.image {
  max-width: 100%;
}

@media (min-width: $breakpoint-md) {
  .container {
    .column {
      & + .column {
        padding: 0 0 0 var(--spacing-md);
      }
    }
  }
}