.header {
  padding: var(--spacing-lg) 0;
  background-image: url(/images/header-mobil.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;

  .container {
    justify-content: flex-end;
  }

  .headline,
  .copy {
    color: var(--white);
    text-shadow: 0 1px 4px var(--dark-gray);
  }

  .copy {
    margin-top: var(--spacing-sm);
  }

  .button {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    z-index: 9;
    box-sizing: border-box;
  }
}

@media (min-width: $breakpoint-md) {
  .header {
    padding: var(--spacing-xl) 0;
    background-image: url(/images/header.jpg);

    .container {
      .column {
        flex-basis: 40%;
        flex-grow: 0;
      }
    }


    .button {
      margin-top: var(--spacing-md);
      position: static;
    }
  }
}