.header {
  padding: var(--spacing-lg) 0;
  background-image: url(/images/header-mobil.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;

  .container {
    justify-content: flex-end;

    .column {
      color: var(--white);
      text-shadow: 0 1px 5px var(--dark-gray);
    }
  }

  .copy {
    margin-top: var(--spacing-sm);
  }

  .button {
    margin-top: var(--spacing-md);
  }
}

@media (min-width: $breakpoint-md) {
  .header {
    padding: var(--spacing-xl) 0;
    background-image: url(/images/header.jpg);

    .container {
      .column {
        flex-basis: 40%;
        flex-grow: 0;
      }
    }
  }
}