.highlights {
  padding: var(--spacing-lg) 0;

  .select-wrapper {
    margin-top: var(--spacing-sm);
    flex-basis: 100%;
  }

  .select {
    background-color: var(--mid-gray);
  }
}

.highlights__content {
  display: none;
}

.highlights__content.active {
  display: block;
}

.highlights__swiper {
  margin: var(--spacing-sm) 0;
}

@media (min-width: $breakpoint-md) {
  .highlights {
    padding: calc(var(--spacing-lg) * 2) 0 var(--spacing-lg);

    .list {
      columns: 2;
      column-gap: 0;
    }
  }
}