.intro {
  padding: var(--spacing-md) 0 0;
  background-color: var(--mid-gray);

  .container {
    align-items: flex-start;

    .column {
      &--right {
        max-width: 100%;
      }
    }
  }

  .copy {
    margin-top: var(--spacing-sm);
  }

  .image {
    width: 100vw;
    margin-left: 50%;
    transform: translateX(-50%);
    max-width: none;
  }
}

@media (min-width: $breakpoint-md) {
  .intro {
    padding: var(--spacing-lg) 0 var(--spacing-md);

    .container {
      justify-content: space-between;
      align-items: flex-start;
      overflow-x: visible;

      .column {
        flex-basis: 50%;
        flex-grow: 0;
      }
    }

    .image {
      padding-left: var(--spacing-md);
      margin: 0 0 calc(var(--spacing-xl) * 3 / -2);
      max-width: 100%;
      transform: none;
      margin-left: 0;
    }
  }
}