.showroom {
  padding: var(--spacing-md) 0;
  background-color: var(--mid-gray);

  .copy {
    margin-top: var(--spacing-sm);
  }

  .image {
    margin-top: var(--spacing-md);
  }
}

@media (min-width: $breakpoint-md) {
  .showroom {
    padding: var(--spacing-lg) 0;

    .container {
      justify-content: space-between;

      .column {
        flex-basis: 50%;
        flex-grow: 0;
      }
    }
  }
}