.top {
  padding: var(--spacing-sm) 0;

  .container {
    justify-content: space-between;
    align-items: center;
  }
}

.top__partner {
  display: flex;
  align-items: center;
}

.top__partner span {
  font-size: var(--copy-small-font-size);
  color: var(--dark-gray);
  margin-right: var(--spacing-sm);
}