---
layout: default.njk
title: Impressum
---
{% include 'top.njk' %}
<section class="imprint">
  <div class="container">
    <h2 class="headline headline--large">{{title}}:</h2>
    <h3 class="headline headline--medium">PREMIUM-CARS KREFELD, NIEDERLASSUNG DER AUTOHAUS DINNEBIER GMBH</h3>
    <address>
      Mevissenstraße 55</br>
      47803 Krefeld</br>
      </br>
      Telefon: <a href="tel:+492151873850">02151 / 873850</a></br>
      Telefax: 02151 / 873899</br>
      E-Mail: <a href="mailto:geschaeftsleitung@premiumcars-krefeld.jaguar.de">Geschaeftsleitung&shy;@premiumcars-krefeld&shy;.jaguar.de</a></br>
      </br>
      Handelsregisternr.: HRB 1369</br>
      Handelsregister und Registergericht: Amtsgericht Neuruppin</br>
      Umsatzsteuer&shy;identifikationsnummer (gemäß §27a Umsatzsteuergesetz): DE 153862818</br>
      Vertretungsberechtigte(r): Uwe Dinnebier
    </address>
    <h3 class="headline headline--medium">HINWEIS GEMÄß § 36 VERBRAUCHERSTREITBEILEGUNGSGESETZ (VSBG)</h3>
    <p class="copy">Die Premium-Cars Krefeld, Niederlassung der Autohaus Dinnebier GmbH wird nicht am Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle im Sinne des VSBG teilnehmen und ist hierzu auch nicht verpflichtet.</p>
    <p class="copy">Alle Rechte vorbehalten. Texte, Bilder, Grafiken, Sound, Animationen und Videos unterliegen dem Schutz des Urheberrechts und anderer Schutzgesetze. Der Inhalt dieser Website darf nicht zu kommerziellen Zwecken verbreitet oder Dritten zugänglich gemacht werden. Irrtürmer und Änderungen vorbehalten.</p>
    <p class="copy">Sollten wir auf diesen Seiten Verknüpfungen zu anderen Seiten im Internet angelegt haben, so haben wir auf sämtliche Links keinerlei Einfluss. Deshalb distanzieren wir uns hiermit ausdrücklich von allen Inhalten der verknüpften Seiten. Diese Erklärung gilt für alle auf dieser Seite ausgebrachten Links und für alle Inhalte der Seiten, zu denen ggf. Banner führen.</p>
  </div>
</section>
{% include 'footer.njk' %}