---
layout: default.njk
title: Datenschutz- und Cookie-Richtlinien
---
{% include 'top.njk' %}
<section class="privacy">
  <div class="container">
    <h2 class="headline headline--large">{{title}}</h2>
    <p class="copy copy--large">Grundsatz</p>
    <p class="copy">Der Schutz personenbezogener Daten hat in der Dinnebier-Gruppe (Autohaus Dinnebier GmbH, Autocenter Dinnebier GmbH und Dinnebier Automobile GmbH) (im Folgenden Dinnebier) einen besonderen Stellenwert. Datenerhebung, -verarbeitung und -nutzung erfolgen auf Grund einer vom Benutzer erteilten Einwilligung oder einer gesetzlichen Erlaubnis oder Verpflichtung. Falls anonymisierte oder pseudonymisierte Daten für den Geschäftszweck ausreichend sind, wird auch nur auf diese Formen der Daten zurückgegriffen.</p>
    <p class="copy">Soweit Dinnebier Daten speichert, haben wir umfangreiche technische und betriebliche Sicherheitsvorkehrungen zum Schutz von personenbezogenen Daten, z.B. vor unberechtigtem Zugriff und Missbrauch bei uns getroffen. Unsere Sicherheitsverfahren werden darüber hinaus regelmäßig überprüft und dem technologischen Fortschritt angepasst.</p>
    <p class="copy copy--large">Ihr Datenschutzrecht in unserem Hause</p>
    <p class="copy">Der hohe Stellenwert, den dieser Grundsatz in unserem Hause genießt drückt sich unter anderem auch darin aus, dass Sie als Nutzer und Kunde uns jederzeit schnell und unkompliziert in allen Datenschutzangelegenheiten erreichen können.</p>
    <p class="copy">Es ist uns ein Anliegen, all Ihre Anfragen in datenschutzrechtlichen Belangen schnellstmöglich und zu Ihrer Zufriedenheit zu bearbeiten. Damit uns dies gelingt, bitten wir Sie, Ihre datenschutzrechtlichen Anliegen an die folgende E-Mail-Adresse zu richten:</p>
    <p class="copy"><a href="mailto:data-protect@dinnebiergruppe.de" class="link link--emphasize">data-protect@dinnebiergruppe.de</a></p>
    <h3 class="headline headline--medium">BESTELLUNGEN BEI DINNEBIER</h3>
    <p class="copy">Wir erheben, speichern, verändern, nutzen und übermitteln personenbezogene Daten zu eigenen Zwecken zur Begründung und Abwicklung eines mit dem Benutzer geschlossenen Vertrages oder vertragsähnlichen Verhältnisses einschließlich der individuellen und persönlichen Kundenberatung und -betreuung sowie zur Wahrung berechtigter eigener Geschäftsinteressen von Dinnebier. Soweit es notwendig ist, übermitteln wir personenbezogene Daten auch an Dritte, z.B. Auslieferer. Die so übermittelten Daten dürfen vom Empfänger nur zur Erfüllung seiner Aufgabe verwendet werden. Zu eigenen Zwecken der Werbung oder der Markt- oder Meinungsforschung ist die Nutzung oder Übermittlung personenbezogener Daten durch Dinnebier zulässig, soweit der Benutzer dem bei Vertragsschluss nicht widerspricht. Der Benutzer kann seinen Widerspruch per E-Mail an Dinnebier <a href="mailto:data-protect@dinnebiergruppe.de" class="link">data-protect@dinnebiergruppe.de</a> einlegen.</p>
    <p class="copy">Die Verwendung personenbezogener Daten zu anderen Zwecken wird an gegebener Stelle jeweils von der Einwilligung des Benutzers abhängig gemacht.</p>
    <h3 class="headline headline--medium">BENUTZUNG DES ONLINE-ANGEBOTS VON DINNEBIER</h3>
    <p class="copy">Dinnebier erhebt und verwendet personenbezogene Daten eines Benutzers, soweit dies für die Begründung, inhaltliche Ausgestaltung oder Änderung eines Vertragsverhältnisses mit dem Benutzer über die Nutzung von Telemedien erforderlich ist, aufgrund gesetzlicher Verpflichtung oder Erlaubnis und aufgrund einer vom Benutzer erteilten Einwilligung. Dinnebier erhebt und verwendet personenbezogene Daten eines Benutzers, soweit dies erforderlich ist, um die Inanspruchnahme des Online-Angebots von Dinnebier zu ermöglichen oder abzurechnen sowie in weiteren gesetzlich zulässigen Fällen und aufgrund einer vom Benutzer erteilten Einwilligung.</p>
    <p class="copy">Dinnebier erhebt und verwendet Daten in Log Files, die der Internet-Browser des Benutzers an uns übermittelt. Dies sind: Browsertyp/ -version, verwendetes Betriebssystem, Referrer URL (die zuvor besuchte Seite), Hostname des zugreifenden Rechners (IP Adresse), Uhrzeit der Server-Anfrage. Diese Daten sind für Dinnebier nicht bestimmten Personen zuordenbar und notwendig, um den Inhalt des Dinnebier-Web-Angebots beim Nutzer darzustellen und um eine sichere Kommunikation zu gewährleisten. Eine Zusammenführung dieser Daten mit anderen Datenquellen wird nicht vorgenommen, die Daten werden zudem nach einer statistischen Auswertung gelöscht.</p>
    <h3 class="headline headline--medium">EINSATZ VON COOKIES UND NUTZUNG VON GOOGLE ANALYTICS</h3>
    <p class="copy">Im Zusammenhang mit der Erbringung von Online-Angeboten werden von Dinnebier sog. „Cookies" verwendet. „Cookies" sind Textdateien, die bei dem Besuch einer Internetseite auf dem Computer des Besuchers gespeichert werden. „Cookies" werden einmalig bzw. längerwährend verwendet, um dem Besucher dauerhaft, wiederkehrende Einstellungen auf den Dinnebier-Seiten zur Verfügung zu stellen oder um bestimmte Funktionen des Dinnebier Online-Angebots zu ermöglichen. Die Textdateien enthalten keinerlei Adressdaten (wie Namen oder E-Mail-Adresse des Besuchers) oder sonstige personenbezogene Daten und werden von Dinnebier auch nicht mit anderen Datenquellen verbunden. Die "Cookies" dienen weiterhin einer Analyse der Webseitennutzung und ermöglichen so unser Angebot nutzerfreundlicher, effektiver und sicherer zu machen.</p>
    <p class="copy">Die Datenerhebung und Verarbeitung erfolgt zu rein statistischen Zwecken und dient der Verbesserung des Online-Angebots von Dinnebier. Es werden nur Daten ohne Personenbezug erhoben und verwendet. Diese Website benutzt Google Analytics, einen Webanalysedienst der Google Inc. („Google"). Google Analytics verwendet sog. „Cookies", Textdateien, die auf Ihrem Computer gespeichert werden und die eine Analyse der Benutzung der Website durch Sie ermöglicht.</p>
    <p class="copy">Die durch den Cookie erzeugten Informationen über Ihre Benutzung dieser Website (einschließlich Ihrer IP-Adresse) wird an einen Server der Google Inc. in den USA übertragen und dort gespeichert. Google wird diese Informationen benutzen, um Ihre Nutzung der Website auszuwerten, um Reports über die Websiteaktivitäten für die Websitebetreiber zusammenzustellen und um weitere mit der Websitenutzung und der Internetnutzung verbundene Dienstleistungen zu erbringen. Google erfährt nichts über Sie persönlich.</p>
    <p class="copy">Google wird diese Informationen gegebenenfalls an Dritte übertragen, sofern dies gesetzlich vorgeschrieben oder soweit Dritte diese Daten im Auftrag von Google verarbeiten. Google wird in keinem Fall Ihre IP-Adresse mit anderen Daten von Google in Verbindung bringen.</p>
    <p class="copy">Der Erhebung und Nutzung Ihrer IP-Adresse durch Google Analytics können Sie jederzeit mit Wirkung für die Zukunft widersprechen. Nähere Informationen finden Sie auf: <a href="http://tools.google.com/dlpage/gaoptout?hl=de" class="link" target="_blank">http://tools.google.com/dlpage/gaoptout</a></p>
    <p class="copy copy--large">Deaktivieren von Cookies</p>
    <p class="copy">Webseitenbesucher können ihren Webbrowser so einstellen, dass die Speicherung von „Cookies" unterdrückt wird. In Einzelfällen kann dies aber dazu führen, dass persönliche Online-Angebote/Dienste oder bestimmte Funktionen der Webseite nicht mehr genutzt werden können.</p>
    <h3 class="headline headline--medium">AUSKUNFTSRECHT</h3>
    <p class="copy">Besucher und Benutzer der Dinnebier-Webseite können jederzeit von Dinnebier unentgeltlich Auskunft über ihre persönlich gespeicherten Daten und deren Herkunft, die Empfänger ihrer Daten sowie den Zweck der Speicherung erhalten.</p>
    <h3 class="headline headline--medium">VERWENDUNG VON SOCIAL PLUGINS (Z.B. FACEBOOK)</h3>
    <p class="copy">Unser Internetauftritt verwendet Social Plugins (z.B. des sozialen Netzwerkes facebook.com, welches von der Facebook Inc., 1601 S. California Ave, Palo Alto, CA 94304, USA betrieben wird). Die Plugins sind mit einem Logo (z.B. Facebook-Logo) oder dem Zusatz "Social Plugin" (z.B. Facebook Social Plugin) gekennzeichnet.</p>
    <p class="copy">Wenn Sie eine Webseite unseres Internetauftritts aufrufen, die ein solches Social Plugin enthält, baut Ihr Browser eine direkte Verbindung mit den Servern der Social-Media-Plattformen auf (z.B. Facebook). Der Inhalt des Social Plugins wird von den Social-Media-Plattformen (z.B. Facebook) direkt an Ihren Browser übermittelt und von diesem in die Webseite eingebunden.</p>
    <p class="copy">Durch die Einbindung der Social Plugins erhalten die Social-Media-Plattformen (z.B. Facebook) die Information, dass Sie die entsprechende Seite unseres Internetauftritts aufgerufen haben. Sind Sie bei den jeweiligen Socila-Media-Diensten (z.B. Facebook) eingeloggt, können diese den Besuch Ihrem Konto (z.B. Facebook-Konto) zuordnen. Wenn Sie mit den Social Plugins interagieren (z.B den "Gefällt mir" Button von Facebook betätigen) oder einen Kommentar abgeben, wird die entsprechende Information von Ihrem Browser direkt an die Social-Media-Plattformen (z.B. Facebook) übermittelt und dort gespeichert.</p>
    <p class="copy">Zweck und Umfang der Datenerhebung und die weitere Verarbeitung und Nutzung der Daten durch die Social-Media-Plattformbetreiber (z.B. Facebook) sowie Ihre diesbezüglichen Rechte und Einstellungsmöglichkeiten zum Schutz Ihrer Privatsphäre entnehmen Sie bitte den Datenschutzhinweisen der jeweiligen Social-Media-Plattformen (z.B <a href="http://www.facebook.com/policy.php" class="link" target="_blank">http://www.facebook.com/policy</a>).</p>
    <p class="copy">Wenn Sie nicht möchten, dass die Social-Media-Plattformbetreiber (z.B. Facebook) über unseren Internetauftritt Daten über Sie sammeln, müssen Sie sich vor Ihrem Besuch unseres Internetauftritts bei den jeweiligen Social-Media-Plattformen (z.B. Facebook) ausloggen.</p>
    <h3 class="headline headline--medium">ZUSATZINFORMATIONEN ZUM COOKIE "FACEBOOK CONVERSION TRACKING PIXEL"</h3>
    <p class="copy copy--large">Facebook Custom Audiences:</p>
    <p class="copy">Im Rahmen der nutzungsbasierten Onlinewerbung wird auch das Produkt Custom Audiences von Facebook (Facebook Custom Audiences1601 S. California Avenue, Palo Alto, CA, 94304) auf der Webseite eingesetzt. Grundsätzlich wird dabei eine nicht-reversible und nicht-personenbezogene Prüfsumme (Hash-Wert) aus Ihren Nutzungsdaten generiert, die an Facebook zu Analyse- und Marketingzwecken übermittelt werden kann. Dabei wird ein Facebook Cookie gesetzt. Erfasst werden dabei Informationen über Ihre Aktivitäten auf der Webseite (z.B. Surfverhalten, besuchte Unterseiten, etc.). Zur geografischen Aussteuerung von Werbung wird Ihre IP- Adresse gespeichert und verwendet.</p>
    <p class="copy">Weitere Informationen über Zweck und Umfang der Datenerhebung und die weitere Verarbeitung und Nutzung der Daten, sowie die Privatsphäreeinstellungen können Sie den Datenschutzrichtlinien von Facebook entnehmen.</p>
    <p class="copy">Wir nutzen folgenden Dienst der Facebook Inc., 1601 S. California Ave, Palo Alto, CA 94304, USA):</p>
    <p class="copy copy--large">Facebook Conversion Tracking Pixel:</p>
    <p class="copy">Dieses Tool ermöglicht es uns, die Aktionen der Nutzer, nach der Umleitung auf eine Anbieter-Webseite, nachdem sie auf eine Facebook-Anzeige geklickt haben, zu erfassen. Damit können wir die Wirksamkeit von Facebook-Anzeigen für statistische und Marktforschungszwecke erfassen. Die gesammelten Daten bleiben anonym. Dies bedeutet, dass wir die persönlichen Daten eines einzelnen Benutzers nicht sehen können. Die gesammelten Daten werden jedoch von Facebook gespeichert und verarbeitet. Wir informieren Sie hierzu entsprechend unseren Informationen. Facebook ist in der Lage, die Daten mit Ihrem Facebook-Konto zu verbinden und die Daten für ihre eigenen Werbezwecke zu verwenden, gemäß den Datenschutzbestimmungen von Facebook unter: <a href="https://www.facebook.com/about/privacy/" class="link" target="_blank">https://www.facebook.com/about/privacy/</a>.</p>
    <p class="copy">Facebook Conversion Tracking ermöglicht es Facebook und seinen Partnern auch, Ihnen Anzeigen auf und außerhalb von Facebook zu zeigen. Außerdem wird für diese Zwecke ein Cookie auf Ihrem Computer gespeichert.</p>
    <p class="copy">Bitte klicken Sie hier, wenn Sie Ihre Einwilligung widerrufen möchten: <a href="https://www.facebook.com/ads/settings" class="link" target="_blank">https://www.facebook.com/ads/settings</a>.</p>
    <h3 class="headline headline--medium">DATENSCHUTZBEAUFTRAGTER:</h3>
    <address>
      TÜV Rheinland i-sec GmbH</br>
      </br>
      Felix Bernhardi, Mitarbeiter der TÜV Rheinland i-sec GmbH</br>
      </br>
      Am Grauen Stein</br>
      51105 Köln</br>
      Deutschland</br>
      <a href="tel:+4922156783504" class="link">0221 56783 504</a></br>
      <a href="mailto:data-protect@dinnebiergruppe.de" class="link">data-protect@dinnebiergruppe.de</a></br>
      <a href="https://www.tuv.com/informationssicherheit" class="link" target="_blank">https://www.tuv.com/informationssicherheit</a></br>
    </address>
    <h3 class="headline headline--medium">ANLEITUNGEN ZUR LÖSCHUNG VON COOKIES IN DEN GÄNGIGSTEN BROWSERN FINDEN SIE HIER:</h3>
    <p class="copy">Microsoft Internet Explorer: <a href="https://support.microsoft.com/de-de/help/17442/windows-internet-explorer-delete-manage-cookies" class="link" target="_blank">Anleitung</a></p>
    <p class="copy">Mozilla Firefox: <a href="https://support.mozilla.org/de/kb/cookies-und-website-daten-in-firefox-loschen?redirectlocale=de&redirectslug=Cookies+l%C3%B6schen" class="link" target="_blank">Anleitung</a></p>
    <p class="copy">Google Chrome: <a href="https://support.google.com/chrome/answer/95647?hl=de" class="link" target="_blank">Anleitung</a></p>
    <p class="copy">Apple Safari: <a href="https://support.apple.com/de-de/guide/safari/sfri11471/mac" class="link" target="_blank">Anleitung</a></p>
    <p class="copy">Opera: <a href="https://help.opera.com/de/latest/web-preferences/#cookies" class="link" target="_blank">Anleitung</a></p>
  </div>
</section>
{% include 'footer.njk' %}