---
layout: default.njk
title: Datenschutz- und Cookie-Richtlinien
---
{% include 'top.njk' %}
<section class="privacy">
  <div class="container">
    <h2 class="headline headline--large">{{title}}</h2>
  </div>
</section>
{% include 'footer.njk' %}