<section id="contact" class="contact">
  <div class="container">
    <h2 class="headline headline--large">Haben wir Ihr Interesse geweckt?</h2>
    <form action="" class="form">

    <div class="form__column--top">
      <div class="form__column--left">
        <fieldset>
          <div class="form__group">
            <label for="form-prename">Vorname*</label>
            <input type="text" id="form-prename" name="prename" required>
          </div>
          <div class="form__group">
            <label for="form-name">Nachname*</label>
            <input type="text" id="form-name" name="name" required>
          </div>
        </fieldset>
        <fieldset>
          <div class="form__group">
            <label for="form-mail">E-Mail*</label>
            <input type="email" id="form-mail" name="mail" required>
          </div>
          <div class="form__group">
            <label for="form-phone">Telefon</label>
            <input type="tel" id="form-phone" name="phone">
          </div>
        </fieldset>
      </div>

      <div class="form__column--right">
        <fieldset>
          <div class="form__group form__group--25">
            <label for="form-zip">PLZ*</label>
            <input type="number" id="form-zip" name="zip" required>
          </div>
          <div class="form__group form__group--75">
            <label for="form-place">Ort*</label>
            <input type="text" id="form-place" name="place" required>
          </div>
        </fieldset>
        <fieldset>
          <div class="form__group">
            <label class="form__checkbox" for="form-company">Sie sind ein Unternehmen?
              <input type="checkbox" id="form-company" name="company" value="">
              <span class="form__checkmark"></span>
            </label>
          </div>
          <div class="form__group">
            <label for="form-company-name">Firmenname</label>
            <input type="text" id="form-company-name" name="company-name">
          </div>
        </fieldset>
      </div>
    </div>

    <div class="form__column--bottom">
      <fieldset>
        <div class="form__group">
          <label for="form-message">Nachricht</label>
          <textarea id="form-message" name="message" rows="4" cols="50" maxlength="1000"></textarea>
        </div>
      </fieldset>
      <fieldset>
        <div class="form__group">
          <label class="form__checkbox" for="form-privacy">Ich habe die <a href="/privacy" class="link" target="_blank">Informationen zur Privatsphäre</a> gelesen.*
            <input type="checkbox" id="form-privacy" name="privacy" required>
            <span class="form__checkmark"></span>
          </label>
        </div>
        <div class="form__group">
          <label class="form__checkbox" for="form-marketing">Ich stimme der Nutzung meiner persönlichen Daten zu Marketingzwecken zu.
            <input type="checkbox" id="form-marketing" name="marketing" required>
            <span class="form__checkmark"></span>
          </label>
        </div>
      </fieldset>
      <input type="submit" value="Anfrage senden" class="button button--primary" onSubmit="fbq('track', 'CompleteRegistration');">
    </div>
    </form>
  </div>
</section>