<section id="contact" class="contact">
  <div class="container">
  
    <h2 class="headline headline--large">Haben wir Ihr Interesse geweckt?</h2>
    <form id="contact-form" class="form">

    <div class="form__column--top">
      <div class="form__column--left">
        <fieldset>
          <div class="form__group">
            <label for="form-prename">Vorname*</label>
            <input type="text" id="form-prename" name="prename" required>
          </div>
          <div class="form__group">
            <label for="form-name">Nachname*</label>
            <input type="text" id="form-name" name="name" required>
          </div>
        </fieldset>
        <fieldset>
          <div class="form__group">
            <label for="form-mail">E-Mail*</label>
            <input type="email" id="form-mail" name="mail" required>
          </div>
          <div class="form__group">
            <label for="form-phone">Telefon</label>
            <input type="tel" id="form-phone" name="phone">
          </div>
        </fieldset>
      </div>

      <div class="form__column--right">
        <fieldset>
          <div class="form__group form__group--25">
            <label for="form-zip">PLZ*</label>
            <input type="number" id="form-zip" name="zip" required>
          </div>
          <div class="form__group form__group--75">
            <label for="form-place">Ort*</label>
            <input type="text" id="form-place" name="place" required>
          </div>
        </fieldset>
        <fieldset>
          <div class="form__group">
            <label class="form__checkbox" for="form-company">Sie sind ein Unternehmen?
              <input type="checkbox" id="form-company" name="company" value="">
              <span class="form__checkmark"></span>
            </label>
          </div>
          <div class="form__group">
            <label for="form-company-name">Firmenname</label>
            <input type="text" id="form-company-name" name="company-name">
          </div>
        </fieldset>
      </div>
    </div>

    <div class="form__column--bottom">
      <fieldset>
        <div class="form__group">
          <label for="form-message">Nachricht</label>
          <textarea id="form-message" name="message" rows="4" cols="50" maxlength="1000"></textarea>
        </div>
      </fieldset>
      <fieldset>
        <div class="form__group">
          <label class="form__checkbox" for="form-privacy">Ich habe die <a href="/privacy" class="link" target="_blank">Informationen zur Privatsphäre</a> gelesen.*
            <input type="checkbox" id="form-privacy" name="privacy" required>
            <span class="form__checkmark"></span>
          </label>
        </div>
        <div class="form__group">
          <label class="form__checkbox" for="form-marketing">Ich stimme der Nutzung meiner persönlichen Daten zu Marketingzwecken zu.
            <input type="checkbox" id="form-marketing" name="marketing" required>
            <span class="form__checkmark"></span>
          </label>
        </div>
      </fieldset>
      <input type="submit"  value="Anfrage senden" class="button button--primary form-submit-btn">
        <div class="form-alert-box form-alert-box-success" role="alert">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M2.93 17.07A10 10 0 1 1 17.07 2.93 10 10 0 0 1 2.93 17.07zm12.73-1.41A8 8 0 1 0 4.34 4.34a8 8 0 0 0 11.32 11.32zM9 11V9h2v6H9v-4zm0-6h2v2H9V5z"/></svg>
          <p>Formular erfolgreich abgesendet</p>
        </div>
        <div class="form-alert-box form-alert-box-error" role="alert">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><title>Close</title><path d="M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10 11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15-2.759-3.152a1.2 1.2 0 1 1 1.697-1.697L10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758 3.152 2.758 3.15a1.2 1.2 0 0 1 0 1.698z"/></svg>
          <p>Formular konnte nicht abgesendet werden</p>
        </div>
    </div>
    </form>
  </div>
</section>