<script src="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js" data-cfasync="false"></script>
<script>
window.cookieconsent.initialise({
  "palette": {
    "popup": {
      "background": "#1e1e1e",
      "text": "#f3f3f3"
    },
    "button": {
      "background": "transparent",
      "text": "#f3f3f3",
      "border": "#9e1b32"
    }
  },
  "position": "top",
  "content": {
    "message": "Diese Website nutzt Cookies, um bestmögliche Funktionalität bieten zu können.",
    "dismiss": "Ok",
    "link": "Mehr Infos",
    "href": "https://aktion.dinnebiergruppe.de/privacy/"
  }
});
</script>