<script src="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js" data-cfasync="false"></script>
<script>
window.cookieconsent.initialise({
  "palette": {
    "popup": {
      "background": "#1e1e1e",
      "text": "#f3f3f3"
    },
    "button": {
      "background": "transparent",
      "text": "#f3f3f3",
      "border": "#9e1b32"
    }
  },
  "position": "top",
  "content": {
    "message": "Wir verwenden Cookies, die für die Funktionalität und das Nutzerverhalten auf der Website notwendig sind, um die Zugriffe auf unsere Website zu analysieren und um Funktionen für soziale Medien anbieten zu können. Durch die Nutzung der Website stimmen Sie dem Einsatz von Cookies zu. Weitere Informationen finden Sie unter Datenschutz.",
    "dismiss": "Akzeptieren",
    "link": "Mehr Informationen",
    "href": "https://aktion.dinnebiergruppe.de/privacy/"
  }
});
</script>