<!doctype html>
<html lang="de">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.css" />
    <style>{% include "css/main.css" %}</style>
  </head>
  <body>
    {{ content | safe }}
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/swiper/js/swiper.min.js"></script>
    {# Important: UPDATE API KEY FOR DINNEBIER PROJECT #}
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDR3H0KZmg6hzirEZxN0NHbVSFQsMAiWTU&callback=initMap"></script>
    {% include "pixel.njk" %}
    {% include "cookieconsent.njk" %}
    <script>{% include "js/app.js" %}</script>
  </body>
</html>