<footer class="footer">
  <div class="footer__links">
    <div class="container">
      <nav class="footer__nav">
        <a href="/#contact" class="link">Kontakt</a>
        <a href="/imprint" target="_blank" class="link">Impressum</a>
        <a href="/privacy" target="_blank" class="link">Datenschutz- und Cookie-Richtlinien</a>
      </nav>
      <div class="footer__copyright">&copy; 2020 dinnebiergruppe.de</div>
    </div>
  </div>
  <div class="footer__meta">
    <div class="container">
      <p class="copy copy--small">
        Weitere Informationen zum offiziellen Kraftstoffverbrauch und den offiziellen spezifischen CO2-Emissionen neuer Personenkraftwagen können dem "Leitfaden über den Kraftstoffverbrauch, die CO2-Emissionen und den Stromverbrauch neuer Personenkraftwagen" entnommen werden, der an allen Verkaufsstellen und bei der Deutschen Automobil Treuhand GmbH (DAT) unentgeltlich erhältlich ist. Die angegebenen Werte wurden nach dem vorgeschriebenen Messverfahren (§ 2 Nrn. 5, 6, 6a Pkw-EnVKV in der jeweils geltenden Fassung) ermittelt. Die Angaben beziehen sich nicht auf ein einzelnes Fahrzeug und sind nicht Bestandteil des Angebots, sondern dienen allein Vergleichszwecken zwischen den verschiedenen Fahrzeugtypen.
      </p>
      <p class="copy copy--small">
        Online-Streitbeilegung gemäß Art. 14 Abs. 1 ODR-VO: Die Europäische Kommission stellt eine Plattform zur Online-Streitbeilegung (OS) bereit, die Sie unter <a href="https://ec.europa.eu/consumers/odr/main/" target="_blank" class="link">https://ec.europa.eu/consumers/odr/main/</a> finden.
      </p>
    </div>
  </div>
</footer>