<header class="header">
  <div class="container">
    <div class="column">
      <h2 class="headline headline--large">Der Jaguar E-Pace</h2>
      <p class="copy">Sein markantes Erscheinungsbild und seine ausgeprägte Agilität machen ihn zu einem der dynamischsten Fahrzeuge seiner Klasse.</p>
      <div class="header__button-wrapper">
        <a href="#contact" class="button button--primary">Angebot anfordern</a>
      </div>
    </div>
  </div>
</header>