<section class="highlights">
  <div class="container">
    <h2 class="headline">Der E-PACE im Detail</h2>
    <div class="select-wrapper">
      <select class="select">
        <option value="highlights" class="select__option select__option--highlights">Ausstattungshighlights</option>
        <option value="emission" class="select__option select__option--emission">Verbrauchsanlagen</option>
        <option value="leasing" class="select__option select__option--leasing">Unser Leasingangebot</option>
      </select>
    </div>
    <div class="highlights__content highlights__content--highlights">
      <p>Highlights</p>
    </div>
    <div class="highlights__content highlights__content--emission">
      <p>Emissionen</p>
    </div>
    <div class="highlights__content highlights__content--leasing">
      <p>Leasing</p>
    </div>
  </div>
</section>