<section class="intro">
  <div class="container">
    <div class="column column--left">
      <h2 class="headline headline--large">Der E-PACE ist der erste Kompakt-SUV von Jaguar.</h2>
      <p class="copy">
        Er kombiniert beeindruckende Straßenpräsenz mit einmaliger Alltagstauglichkeit – er ist also der perfekte Allrounder. Effiziente Ingenium Motoren sowie die Jaguar typischen Performance-Technologien, gepaart mit einer Laderaumkapazität von bis zu 577 Litern, machen ihn zur optimalen Wahl – egal ob sportlich, elegant oder praktikabel.
      </p>
      <p class="copy">
        Der E-PACE ist mit modernster Kommunikationstechnologie ausgestattet und verfügt durch das Connect Pro-Paket über einen 4G Wi-Fi Hotspot. Mit InControl Apps können Sie die kompatiblen Apps Ihres Handys ganz einfach über den Touchscreen bedienen.
      </p>
    </div>
    <div class="column column--right">
      <img src="/images/intro-epace.jpg" alt="Jaguar E-Pace Frontansicht" class="image">
    </div>
  </div>
</section>