<section class="intro">
  <div class="container">
    <div class="column">
      <h2 class="headline">Der E-PACE ist der erste Kompakt-SUV von Jaguar.</h2>
      <p class="copy">
        Er kombiniert beeindruckende Straßenpräsenz mit einmaliger Alltagstauglichkeit – er ist also der perfekte Geschäftswagen. Eine Reihe effizienter Ingenium Motoren sowie die Jaguar typischen Performance-Technologien, gepaart mit einer Laderaumkapazität von bis zu 577 Litern, machen ihn zur optimalen Wahl für Ihre Flotte.
      </p>
      <p class="copy">
        Um sicherzustellen, dass Sie immer mit der Außenwelt in Verbindung bleiben, verfügt das Connect Pro-Paket des E‑PACE über einen 4G Wi-Fi Hotspot. Mit InControl Apps können Sie die kompatiblen Apps Ihres Handys ganz einfach über den Touchscreen bedienen.
      </p>
    </div>
    <img src="/images/intro-epace.jpg" alt="" class="image">
  </div>
</section>