<nav class="navigation">
  <div class="container">
    <div class="select-wrapper">
      <select class="select">
        <option value="jaguar">Jaguar</option>
        <option value="land-rover">Land Rover</option>
      </select>
    </div>
    <div class="navigation__spacer"></div>
    <div class="swiper-container navigation__swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img src="/images/modelle/jaguar/jaguar_f-pace.png" alt="">
        </div>
        <div class="swiper-slide">
          <img src="/images/modelle/jaguar/jaguar_e-pace.png" alt="">
        </div>
        <div class="swiper-slide">
          <img src="/images/modelle/jaguar/jaguar_i-pace.png" alt="">
        </div>
        <div class="swiper-slide">
          <img src="/images/modelle/jaguar/jaguar_f-type.png" alt="">
        </div>
        <div class="swiper-slide">
          <img src="/images/modelle/jaguar/jaguar_xe.png" alt="">
        </div>
      </div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
  </div>
</nav>