<section class="showroom">
  <div class="container">
    <h2 class="headline headline--large">Showroom in Krefeld</h2>
    <p class="copy">Herzlich Willkommen in unserem Showroom! In unserer Niederlassung in der Mevissenstraße 55 wartet unsere attraktive Modellpalette darauf von Ihnen besichtigt und gefahren zu werden. Überzeugen Sie sich am Besten direkt vor Ort von unserer Qualität und dem ausgezeichneten Service. Wir laden Sie herzlich ein zu den angegebenen Öffnungszeiten vorbeizuschauen oder uns rund um die Uhr auf <a href="https://premium-cars-krefeld.jaguar-vertragspartner.de/" class="link" target="_blank">premium-cars-krefeld.jaguar-vertragspartner.de</a> online zu besuchen.</p>
    <div class="column column--left">
      <img src="/images/showroom.jpg" alt="Jaguar E-Pace Frontansicht" class="image">
    </div>
    <div class="column column--right">
      <div id="map" class="map"></div>
    </div>
  </div>
</section>