<section class="showroom">
  <div class="container">
    <h2 class="headline">Showroom in Krefeld</h2>
    <p class="copy">Besuchen Sie uns in unserem Showroom – in der Mevissenstraße 55 wartet unsere Modellpalette darauf von Ihnen besichtigt und gefahren zu werden. Vor Ort überzeugt Sie sich am Besten von unserer Qualität und unserem Service. Wir laden Sie herzlich ein zu den angegebenen Öffnungszeiten vorbeizuschauen oder uns rund um die Uhr auf premium-cars-krefeld.jaguar-vertragspartner.de zu besuchen.</p>
    <img src="/images/showroom.jpg" alt="" class="image">
  </div>
</section>