<div class="top">
  <div class="container">
    <div class="top__logo">
      <img src="/images/dinnebier-portal-logo.png" alt="" class="top__logo--desktop">
      <img src="/images/dinnebier-portal-logo-mobil.png" alt="" class="top__logo--mobile">
    </div>
    <div class="top__partner">
      <span>Offizieller Händler</span>
      <img src="/images/jaguar-landrover.png" alt="">
    </div>
  </div>
</div>