<div class="top">
  <div class="container">
    <div class="top__logo">
      <img src="/images/dinnebier-portal-logo.png" alt="">
    </div>
    <div class="top__partner">
      <span>Offizieller Händler</span>
      <img src="/images/jaguar_landrover.png" alt="">
    </div>
  </div>
</div>